@font-face {
  font-family: Inter;
  src: url(../public/fonts/Inter-VariableFont.ttf);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
}

html {
  font-family: Inter, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-inline: 5%;
  padding-block-start: 4rem;
  max-width: 430px;
  margin-inline: auto;
}

h1 {
  font-size: 2.5rem;
  margin-block-end: 2rem;
}

h2 {
  margin-block-end: 0.5rem;
}
